In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
df = pd.read_csv ("combine_add_geo.csv")
df

,Story Primary ID,Story ID,User Primary ID,User ID,Gender,Age,Title,Narrative,Media,Account Created Date,...,Covid Tests,Covid Vaccinations,Image Caption,Detected Objects,tika_language,google_language,rtg_translate,geo_name,long,lat
0,156581,STY1666112066,86625,USR1662300553,NaN,12,Qatar Airways cuts flights to accommodate FIFA...,"<p dir=""ltr"">Qatar Airways&#160;has withdrawn ...",https://image.pixstory.com/Pixstory-image-1666...,2022/9/4 19:39,...,0.0,16637213.0,a sign that is on the side of a building .,"['street sign', 'scoreboard']",en,en,Qatar Airways has withdrawn flights from 18 de...,NaN,NaN,NaN
1,156580,STY1666111954,119236,USR1665943314,NaN,18,Positive thinking does not necessarily mean av...,"<p dir=""ltr"">Positive thinking does not necess...",https://image.pixstory.com/Pixstory-image-1666...,2022/10/16 23:31,...,0.0,12556239.0,a collage of photos of a person holding a pair...,"['envelope', 'menu']",en,en,Positive thinking does not necessarily mean av...,NaN,NaN,NaN
2,156579,STY1666111923,86566,USR1662294899,NaN,12,FIFA negotiating 'initiatives' for Qatar migra...,"<p dir=""ltr"">FIFA's president sought Monday to...",https://image.pixstory.com/Pixstory-image-1666...,2022/9/4 18:04,...,0.0,16637213.0,a red and white fire hydrant sitting on top of...,"['book jacket, dust cover, dust jacket, dust w...",en,en,FIFA's president sought Monday to dispell ling...,"['South Africa', 'Gulf County']","['24.0', '-85.26101']","['-29.0', '29.90862']"
3,156578,STY1666111798,86655,USR1662303432,NaN,12,Qatar ready for the World Cup in just over a m...,"<p dir=""ltr"">Ticket sales for the FIFA World C...",https://image.pixstory.com/Pixstory-image-1666...,2022/9/4 20:27,...,0.0,16637213.0,a tennis court with a tennis racket and a ball,"['dome', 'mosque']",en,en,Ticket sales for the FIFA World Cup Qatar 2022...,['United Arab Emirates'],['54.5'],['23.75']
4,156577,STY1666111463,9221,USR1632727815,male,23,"Froyo always makes everyone happy, make this h...","<p dir=""ltr""></p>\r\n<p dir=""ltr"">Almost all o...",https://image.pixstory.com/Pixstory-image-1666...,2021/9/27 13:00,...,7878605.0,132857432.0,a piece of chocolate cake sitting on top of a ...,"['ice cream, icecream', 'dough']",en,en,"\r\nAlmost all of us is a fan of ice creams, f...",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94995,69290,STY1642159740,21189,USR1642158120,NaN,21,Bts,Bts j hope,https://image.pixstory.com/Pixstory-image-1642...,2022/1/14 16:32,...,12939335.0,109788076.0,a woman is taking a picture of herself in a mi...,"['brassiere, bra, bandeau', 'hair spray']",nl,nl,i hope,NaN,NaN,NaN
94996,69289,STY1642159721,21194,USR1642158805,female,18,I LOVE SHARK TANK INDIA,It's breathe of fresh air in a polluted enviro...,https://image.pixstory.com/Pixstory-image-1642...,2022/1/14 16:43,...,12939335.0,109788076.0,a man holding a frisbee in his hands .,"['web site, website, internet site, site', 'pi...",en,en,It's breathe of fresh air in a polluted enviro...,NaN,NaN,NaN
94997,69288,STY1642159611,21203,USR1642159306,NaN,21,Patanjali-Good for health.,I use this Ayurveda product for boosting my im...,https://image.pixstory.com/Pixstory-image-1642...,2022/1/14 16:51,...,12939335.0,109788076.0,a red and white fire hydrant sitting in the mi...,"['pill bottle', 'lotion']",en,en,I use this Ayurveda product for boosting my im...,NaN,NaN,NaN
94998,69287,STY1642159601,21202,USR1642159269,NaN,22,Football League,Me and my friend playing football inside our c...,https://image.pixstory.com/Pixstory-image-1642...,2022/1/14 16:51,...,12939335.0,109788076.0,a group of people standing on top of a lush gr...,['croquet ball'],en,en,Me and my friend playing football inside our c...,NaN,NaN,NaN
94999,69286,STY1642159578,21096,USR1642151996,NaN,19,Come back stronger like the waves,"And now that you don’t have to be perfect, you...",https://image.pixstory.com/Pixstory-image-1642...,2022/1/14 14:49,...,12939335.0,109788076.0,a book and a book on a bed .,"['packet', 'lotion']",en,en,"And now that you don’t have to be perfect, you...",NaN,NaN,NaN

In [3]:
df1 = df.loc[:,["Account Created Date", "google_language"]]
df1

      Account Created Date google_language
0           2022/9/4 19:39              en
1         2022/10/16 23:31              en
2           2022/9/4 18:04              en
3           2022/9/4 20:27              en
4          2021/9/27 13:00              en
...                    ...             ...
94995      2022/1/14 16:32              nl
94996      2022/1/14 16:43              en
94997      2022/1/14 16:51              en
94998      2022/1/14 16:51              en
94999      2022/1/14 14:49              en

[95000 rows x 2 columns]

In [4]:
df2 = df1.iloc[:,:]
df2

      Account Created Date google_language
0           2022/9/4 19:39              en
1         2022/10/16 23:31              en
2           2022/9/4 18:04              en
3           2022/9/4 20:27              en
4          2021/9/27 13:00              en
...                    ...             ...
94995      2022/1/14 16:32              nl
94996      2022/1/14 16:43              en
94997      2022/1/14 16:51              en
94998      2022/1/14 16:51              en
94999      2022/1/14 14:49              en

[95000 rows x 2 columns]

In [5]:
df2.columns = ['Date', 'google_language']
df2

                   Date google_language
0        2022/9/4 19:39              en
1      2022/10/16 23:31              en
2        2022/9/4 18:04              en
3        2022/9/4 20:27              en
4       2021/9/27 13:00              en
...                 ...             ...
94995   2022/1/14 16:32              nl
94996   2022/1/14 16:43              en
94997   2022/1/14 16:51              en
94998   2022/1/14 16:51              en
94999   2022/1/14 14:49              en

[95000 rows x 2 columns]

In [6]:
df3 = df2.iloc[:,:]
language_dic = {}

for i in range(len(df3)):
    if pd.isnull(df3.loc[i,'google_language']):
        #print(pd.isnull(df3.loc[i,'google_language']))
        df3 = df3.drop([i])
        continue      
    df3.loc[i,'Date'] = (df3.loc[i,'Date'].split(' ')[0])
    #df3.loc[i,'Value'] = int(1)

    #language_dic[language] = language_dic.get(language, 1)
    #print(df3.loc[i,'Date'])
print(language_dic)

{}

In [7]:
df3

             Date google_language
0        2022/9/4              en
1      2022/10/16              en
2        2022/9/4              en
3        2022/9/4              en
4       2021/9/27              en
...           ...             ...
94995   2022/1/14              nl
94996   2022/1/14              en
94997   2022/1/14              en
94998   2022/1/14              en
94999   2022/1/14              en

[93017 rows x 2 columns]

In [8]:
#print(type(df3['Date'][0]))
df3['Date'] = pd.to_datetime(df3.Date)
#df3.sort('Date')
df3.sort_values(by='Date', ascending = True, inplace = True)
df3

/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '22-07-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '22-08-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '26-11-2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '27-09-2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '17-03-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '30-06-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '14-06-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '16-07-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '29-03-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '21-08-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '19-08-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '20-08-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '14-07-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '18-08-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '24-07-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '17-01-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '13-08-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '20-04-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '20-02-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '28-12-2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '20-05-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '20-11-2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '24-09-2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '31-05-2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '19-01-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '23-04-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '15-02-2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '27-07-2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '29-09-2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '28-07-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '27-01-2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '17-11-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '14-03-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '13-01-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '25-04-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '18-01-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '20-01-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '27-04-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '20-07-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '17-05-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '18-11-2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '17-08-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '29-06-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '30-05-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '25-01-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '15-03-2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '22-02-2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '16-06-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '18-12-2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '16-08-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '27-06-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '28-09-2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '26-01-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '13-06-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '14-04-2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '22-04-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '13-02-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '17-02-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '15-01-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '23-12-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '27-01-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '26-07-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '24-06-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '14-05-2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '19-06-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '27-12-2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '13-04-2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/Users/huiqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '19-11-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)

            Date google_language
38575 2020-01-12              en
43425 2020-01-12              en
25389 2020-01-12              en
30707 2020-01-12              en
35005 2020-02-12              en
...          ...             ...
36253 2022-12-08              id
35709 2022-12-08              en
35711 2022-12-08              en
35693 2022-12-08              nl
35613 2022-12-08              en

[93017 rows x 2 columns]

In [9]:
df3.reset_index(drop=True, inplace = True)
df3

            Date google_language
0     2020-01-12              en
1     2020-01-12              en
2     2020-01-12              en
3     2020-01-12              en
4     2020-02-12              en
...          ...             ...
93012 2022-12-08              id
93013 2022-12-08              en
93014 2022-12-08              en
93015 2022-12-08              nl
93016 2022-12-08              en

[93017 rows x 2 columns]

In [10]:
for i in range(len(df3)):
    '''
    if pd.isnull(df3.loc[i,'google_language']):
        #print(pd.isnull(df3.loc[i,'google_language']))
        df3 = df3.drop([i])
        continue  
    
    df3.loc[i,'Date'] = (df3.loc[i,'Date'].split(' ')[0])
    df3.loc[i,'Value'] = int(1)
    df3['Date'] = pd.to_datetime(df3['Date'])
    df3.sort_values(by='Date')
    
    '''
    language = df3.loc[i,'google_language']
    if language not in language_dic:
        language_dic[language] = 1
    else:
        language_dic[language] += 1
    df3.loc[i,'Value'] = language_dic[language]
    #language_dic[language] = language_dic.get(language, 1)
    #print(df3.loc[i,'Date'])
print(language_dic)

{'en': 68666, 'id': 986, 'fi': 293, 'de': 950, 'tl': 1032, 'et': 360, 'so': 641, 'pl': 211, 'lv': 31, 'tr': 160, 'sw': 437, 'es': 147, 'af': 822, 'da': 329, 'nl': 520, 'fr': 682, 'it': 9151, 'sq': 228, 'ro': 990, 'cy': 367, 'hi': 577, 'hu': 44, 'sv': 261, 'bn': 2693, 'ca': 268, 'sk': 119, 'pt': 202, 'sl': 325, 'hr': 121, 'no': 571, 'lt': 69, 'ml': 486, 'ne': 10, 'mr': 11, 'fa': 20, 'pa': 1, 'vi': 111, 'cs': 104, 'te': 1, 'zh-cn': 2, 'ru': 9, 'ta': 3, 'ko': 2, 'ja': 4}

In [11]:
dict(sorted(language_dic.items(), key=lambda item: item[1]))

{'pa': 1,
 'te': 1,
 'zh-cn': 2,
 'ko': 2,
 'ta': 3,
 'ja': 4,
 'ru': 9,
 'ne': 10,
 'mr': 11,
 'fa': 20,
 'lv': 31,
 'hu': 44,
 'lt': 69,
 'cs': 104,
 'vi': 111,
 'sk': 119,
 'hr': 121,
 'es': 147,
 'tr': 160,
 'pt': 202,
 'pl': 211,
 'sq': 228,
 'sv': 261,
 'ca': 268,
 'fi': 293,
 'sl': 325,
 'da': 329,
 'et': 360,
 'cy': 367,
 'sw': 437,
 'ml': 486,
 'nl': 520,
 'no': 571,
 'hi': 577,
 'so': 641,
 'fr': 682,
 'af': 822,
 'de': 950,
 'id': 986,
 'ro': 990,
 'tl': 1032,
 'bn': 2693,
 'it': 9151,
 'en': 68666}

In [12]:
# need to find the top 5 languages, drop other rows that do not have the top 5 languages

top_5list = ['en', 'it', 'bn', 'tl', 'ro']
for i in range(len(df3)):
    if df3.loc[i,'google_language'] not in top_5list:
        df3 = df3.drop([i])
        continue

In [13]:
# all ro data points, other four languages each randomly select 1000 instances

In [14]:
df4 = df3.groupby("google_language")
df4.count()

                  Date  Value
google_language
bn                2693   2693
en               68666  68666
it                9151   9151
ro                 990    990
tl                1032   1032

In [15]:
df_en = (df3.loc[df3['google_language'] == 'en'].reset_index())
df_en

       index       Date google_language    Value
0          0 2020-01-12              en      1.0
1          1 2020-01-12              en      2.0
2          2 2020-01-12              en      3.0
3          3 2020-01-12              en      4.0
4          4 2020-02-12              en      5.0
...      ...        ...             ...      ...
68661  93007 2022-12-08              en  68662.0
68662  93010 2022-12-08              en  68663.0
68663  93013 2022-12-08              en  68664.0
68664  93014 2022-12-08              en  68665.0
68665  93016 2022-12-08              en  68666.0

[68666 rows x 4 columns]

In [16]:
df_bn = (df3.loc[df3['google_language'] == 'bn'].reset_index())
df_it = (df3.loc[df3['google_language'] == 'it'].reset_index())
df_ro = (df3.loc[df3['google_language'] == 'ro'].reset_index())
df_tl = (df3.loc[df3['google_language'] == 'tl'].reset_index())

In [29]:
df_bn

      index       Date google_language   Value
0      3097 2021-02-12              bn     1.0
1      3098 2021-02-12              bn     2.0
2      3099 2021-02-12              bn     3.0
3      3101 2021-02-12              bn     4.0
4      3103 2021-02-12              bn     5.0
...     ...        ...             ...     ...
2688  63753 2022-06-16              bn  2689.0
2689  63758 2022-06-16              bn  2690.0
2690  72424 2022-08-08              bn  2691.0
2691  72431 2022-08-08              bn  2692.0
2692  91950 2022-10-07              bn  2693.0

[2693 rows x 4 columns]

In [30]:
df_it

      index       Date google_language   Value
0      1028 2020-11-17              it     1.0
1      1274 2020-11-19              it     2.0
2      1302 2020-11-19              it     3.0
3      2485 2021-02-01              it     4.0
4      2682 2021-02-01              it     5.0
...     ...        ...             ...     ...
9146  92800 2022-12-08              it  9147.0
9147  92889 2022-12-08              it  9148.0
9148  92932 2022-12-08              it  9149.0
9149  92950 2022-12-08              it  9150.0
9150  92960 2022-12-08              it  9151.0

[9151 rows x 4 columns]

In [17]:
# sample
df_en_sample = df_en.sample(n=2000, replace = False, random_state=1)
df_en_sample = df_en_sample.drop(['index'], axis=1)
df_en_sample.sort_values(by='Date', ascending = True, inplace = True)
df_en_sample = df_en_sample.reset_index(drop = True)
df_en_sample

           Date google_language    Value
0    2020-11-17              en    812.0
1    2020-11-17              en    654.0
2    2020-11-17              en    504.0
3    2020-11-17              en    249.0
4    2020-11-17              en    517.0
...         ...             ...      ...
1995 2022-12-08              en  68589.0
1996 2022-12-08              en  68600.0
1997 2022-12-08              en  68594.0
1998 2022-12-08              en  68540.0
1999 2022-12-08              en  68568.0

[2000 rows x 3 columns]

In [18]:
df_bn_sample = df_bn.sample(n=2000, replace = False, random_state=1)
df_bn_sample = df_bn_sample.drop(['index'], axis=1)
df_bn_sample.sort_values(by='Date', ascending = True, inplace = True)
df_bn_sample = df_bn_sample.reset_index(drop = True)
df_bn_sample

           Date google_language   Value
0    2021-02-12              bn    54.0
1    2021-02-12              bn    90.0
2    2021-02-12              bn    34.0
3    2021-02-12              bn   192.0
4    2021-02-12              bn   125.0
...         ...             ...     ...
1995 2022-06-16              bn  2680.0
1996 2022-06-16              bn  2653.0
1997 2022-08-08              bn  2691.0
1998 2022-08-08              bn  2692.0
1999 2022-10-07              bn  2693.0

[2000 rows x 3 columns]

In [37]:
df_it_sample = df_it.sample(n=3500, replace = False, random_state=2)
df_it_sample = df_it_sample.drop(['index'], axis=1)
df_it_sample.sort_values(by='Date', ascending = True, inplace = True)
df_it_sample = df_it_sample.reset_index(drop = True)
df_it_sample

           Date google_language   Value
0    2020-11-17              it     1.0
1    2020-11-19              it     3.0
2    2021-02-01              it     5.0
3    2021-02-01              it     4.0
4    2021-04-12              it    11.0
...         ...             ...     ...
3495 2022-12-08              it  9145.0
3496 2022-12-08              it  9144.0
3497 2022-12-08              it  9146.0
3498 2022-12-08              it  9151.0
3499 2022-12-08              it  9150.0

[3500 rows x 3 columns]

In [20]:
df_tl_sample = df_tl.reset_index(drop=True)
df_tl_sample = df_tl_sample.drop(['index'], axis=1)
df_tl_sample

           Date google_language   Value
0    2020-11-17              tl     1.0
1    2020-11-17              tl     2.0
2    2020-11-17              tl     3.0
3    2020-11-17              tl     4.0
4    2020-11-19              tl     5.0
...         ...             ...     ...
1027 2022-12-08              tl  1028.0
1028 2022-12-08              tl  1029.0
1029 2022-12-08              tl  1030.0
1030 2022-12-08              tl  1031.0
1031 2022-12-08              tl  1032.0

[1032 rows x 3 columns]

In [21]:
'''
df_tl_sample = df_tl.sample(n=1000, replace = False, random_state=1)
df_tl_sample = df_tl_sample.drop(['index'], axis=1)
df_tl_sample.sort_values(by='Date', ascending = True, inplace = True)
df_tl_sample = df_tl_sample.reset_index(drop = True)
df_tl_sample
'''

"\ndf_tl_sample = df_tl.sample(n=1000, replace = False, random_state=1)\ndf_tl_sample = df_tl_sample.drop(['index'], axis=1)\ndf_tl_sample.sort_values(by='Date', ascending = True, inplace = True)\ndf_tl_sample = df_tl_sample.reset_index(drop = True)\ndf_tl_sample\n"

In [22]:
df_ro_sample = df_ro.reset_index(drop=True)
df_ro_sample = df_ro_sample.drop(['index'], axis=1)
df_ro_sample

          Date google_language  Value
0   2020-11-18              ro    1.0
1   2020-11-18              ro    2.0
2   2020-11-19              ro    3.0
3   2020-11-19              ro    4.0
4   2021-02-15              ro    5.0
..         ...             ...    ...
985 2022-12-08              ro  986.0
986 2022-12-08              ro  987.0
987 2022-12-08              ro  988.0
988 2022-12-08              ro  989.0
989 2022-12-08              ro  990.0

[990 rows x 3 columns]

In [38]:
# combine all datasets together 
frames = [df_en_sample, df_bn_sample,df_it_sample, df_tl_sample, df_ro_sample]

df_result = pd.concat(frames)
df_result

          Date google_language  Value
0   2020-11-17              en  812.0
1   2020-11-17              en  654.0
2   2020-11-17              en  504.0
3   2020-11-17              en  249.0
4   2020-11-17              en  517.0
..         ...             ...    ...
985 2022-12-08              ro  986.0
986 2022-12-08              ro  987.0
987 2022-12-08              ro  988.0
988 2022-12-08              ro  989.0
989 2022-12-08              ro  990.0

[9522 rows x 3 columns]

In [24]:
'''

    datetime_str = df3.loc[i,"Date"]
    
    if datetime.strptime(datetime_str, '%y/%m/%d'):
        datetime_object = datetime.strptime(datetime_str, '%y/%m/%d')
    else:
        datetime_object = datetime.strptime(datetime_str, '%m/%d/%y')
    
    df3.loc[i,'Date'] = datetime_object.date()
'''

'\n\n    datetime_str = df3.loc[i,"Date"]\n    \n    if datetime.strptime(datetime_str, \'%y/%m/%d\'):\n        datetime_object = datetime.strptime(datetime_str, \'%y/%m/%d\')\n    else:\n        datetime_object = datetime.strptime(datetime_str, \'%m/%d/%y\')\n    \n    df3.loc[i,\'Date\'] = datetime_object.date()\n'

In [40]:
df_result.groupby('google_language').count()

                 Date  Value
google_language
bn               2000   2000
en               2000   2000
it               3500   3500
ro                990    990
tl               1032   1032

In [25]:
#df3

In [26]:
#df3.columns = ['date','name','value']

In [39]:
df_result.reset_index(drop=True, inplace = True)
df_result

           Date google_language  Value
0    2020-11-17              en  812.0
1    2020-11-17              en  654.0
2    2020-11-17              en  504.0
3    2020-11-17              en  249.0
4    2020-11-17              en  517.0
...         ...             ...    ...
9517 2022-12-08              ro  986.0
9518 2022-12-08              ro  987.0
9519 2022-12-08              ro  988.0
9520 2022-12-08              ro  989.0
9521 2022-12-08              ro  990.0

[9522 rows x 3 columns]

In [42]:
df_result.to_csv("df_result.csv", index = False)